[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
sanic-ext = "*"
pymysql = "*"
i18nice = "*"
tortoise-orm = {extras = ["asyncmy"], version = "*"}
bcrypt = "*"
pyjwt = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.13"
