[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
configobj = "*"
sanic = "*"
pyusermanager = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.9"
